{% load static %}

<section class="ragister-section centred sec-pad bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-2 big-column">
                <div class="sec-title">
                    <h5>Sayt haqqında</h5>
                    <h2>Fikirlərinizi bizimlə bölüşün</h2>
                </div>
                <div class="tabs-box">
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="inner-box"> 
                                <form action="{% url 'create-testimonial' %}" method="post" class="default-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="testimonial_name">Adınız</label>
                                        <input type="text" name="name" required="" placeholder="Adınız" autocomplete="off" id="testimonial_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="testimonial_surname">Soyadınız</label>
                                        <input type="text" name="surname" required="" placeholder="Soyadınız" autocomplete="off" id="testimonial_surname">
                                    </div> 
                                    <div class="form-group">
                                        <label for="testimonial_message">Fikirləriniz</label>
                                        <textarea name="message" id="testimonial_message" placeholder="Fikirləriniz"></textarea>
                                    </div>  
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn btn-one">Rəyinizi göndərin</button>
                                    </div>
                                </form> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>