{% load static %}
{% load customfilters %}

{% if announcements %}

    <section class="property-page-section property-grid">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side" style="user-select: none;">
                    <div class="default-sidebar property-sidebar" > 
                        <!-- Filters --> 
                        <div class="category-widget sidebar-widget">
                            <div class="widget-title">
                                <h5>Elanları filtirlə</h5> 
                            </div>
                            <hr>
                            <form action="{% url 'home-page' %}" method="GET"> 
                                <div class="field">
                                    <label class="label">Axtar</label>
                                    <div class="control">
                                        <input class="input" name="search_text" type="text" placeholder="Axtar" value="{% if request.GET.search_text %}{{request.GET.search_text}}{%endif%}">
                                    </div>
                                </div>
                                <hr>
                                <h6><b>Sırala</b></h6> 
                                <br>
                                <div class="field">
                                    <div class="select">
                                        <select name="sort"> 
                                            <option value="lifo" {% if request.GET.sort == 'lifo' %}selected{% endif %}> Öncə Yenilər </option>
                                            <option value="fifo" {% if request.GET.sort == 'fifo' %}selected{% endif %}> Öncə Köhnələr </option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <h6><b>Məzənnə</b></h6> 
                                <br>
                                <div class="field">
                                    <div class="select">
                                        <select name="currency"> 
                                            <option value="DOLLAR" {% if request.GET.currency == 'DOLLAR' %}selected{% endif %}> DOLLAR </option>
                                            <option value="MANAT" {% if request.GET.currency == 'MANAT' %}selected{% endif %}> MANAT </option>
                                        </select>
                                    </div>
                                </div>
                                <hr> 
                                <div class="field">
                                    <label class="label">Minimum qiymət</label>
                                    <div class="control">
                                      <input class="input" name="min_price" min="1" max="100000" type="number" step="1" placeholder="Minimum qiymət" value="{%if request.GET.min_price%}{{request.GET.min_price}}{%endif%}">
                                    </div>
                                </div>
                                <hr>
                                <div class="field">
                                    <label class="label">Maksimum qiymət</label>
                                    <div class="control">
                                      <input class="input" name="max_price" min="1" max="1000000" type="number" step="1" placeholder="Maksimum qiymət" value="{%if request.GET.max_price%}{{request.GET.max_price}}{%endif%}">
                                    </div>
                                </div>
                                <hr>
                                <h6><b>Otaq sayı</b></h6> 
                                <br>
                                <div class="field">
                                    <div class="select">
                                        <select name="room_count"> 
                                          <option value="1" {% if request.GET.room_count == '1' %}selected{% endif %}>1</option>
                                          <option value="2" {% if request.GET.room_count == '2' %}selected{% endif %}>2</option>
                                          <option value="3" {% if request.GET.room_count == '3' %}selected{% endif %}>3</option>
                                          <option value="4" {% if request.GET.room_count == '4' %}selected{% endif %}>4</option>
                                          <option value="5+" {% if request.GET.room_count == '5+' %}selected{% endif %}>5+</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <h6><b>Növünə görə</b></h6>
                                <br>
                                <div class="field">
                                    <div class="control">
                                      <label class="radio">
                                        <input type="radio" name="for" value="rent" {%if request.GET.for == 'rent' %} checked {%endif%}> Kirayə
                                      </label>
                                      <label class="radio">
                                        <input type="radio" name="for" value="sale" {%if request.GET.for == 'sale' %} checked {%endif%}> Satış
                                      </label>
                                    </div>
                                </div> 
                                <hr>
                                <h6><b>Özəlliklərə görə</b></h6>
                                <br>
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="renovated" value="True" {%if request.GET.renovated == 'True' %}checked{%endif%}> Təmirli
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="furnished" value="True" {%if request.GET.furnished == 'True' %}checked{%endif%}> Əşyalı
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_internet" value="True" {%if request.GET.has_internet == 'True' %}checked{%endif%}> İnternet var
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_elevator" value="True" {%if request.GET.has_elevator == 'True' %}checked{%endif%}> Lift var
                                        </label>
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_gas" value="True" {%if request.GET.has_gas == 'True' %}checked{%endif%}> Qaz çəkilib
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_electricy" value="True" {%if request.GET.has_electricy == 'True' %}checked{%endif%}> Elektriklə təchiz olunub
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_water" value="True" {%if request.GET.has_water == 'True' %}checked{%endif%}> Su çəkilib
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_water_tank" value="True" {%if request.GET.has_water_tank == 'True' %}checked{%endif%}> Əlavə su çəni
                                        </label> 
                                    </div>
                                </div> 
                                <div class="field">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="has_combi" value="True" {%if request.GET.has_combi == 'True' %}checked{%endif%}> Kombi
                                        </label> 
                                    </div>
                                </div> 
                                {% if a_categories %} 
                                    <hr>
                                    <h6><b>Kateqoriya</b></h6>
                                    <br>
                                    {% for category in a_categories %}
                                        <div class="field">
                                            <div class="control">
                                                <label class="radio">
                                                    <input type="radio" name="category" value="{{category.id}}" {% if request.GET.category == category.id|slugify %}checked{% endif %}> {{category.name}}
                                                </label> 
                                            </div>
                                        </div> 
                                    {% endfor %}
                                    <div class="field">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="category" value="all" {% if request.GET.category == 'all' %}checked{% endif %}> Hamısı
                                            </label> 
                                        </div>
                                    </div> 
                                {% endif %}
                                <hr> 
                                <button class="button">
                                    <span class="icon is-small">
                                        <i class="fa-solid fa-filter"></i>
                                    </span>
                                    <span>Axtar</span>
                                  </button> 
                            </form>
                        </div> 
                        <br><br><br><br><br>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-content-side">
                        <div class="item-shorting clearfix">
                            <div class="left-column pull-left clearfix">
                                <h5>Saytdakı aktiv elan sayı : <span> {{ announcements_count }} </span></h5> 
                            </div>
                            <div class="right-column pull-right p-0">
                                <!-- RİGHT -->
                            </div>
                        </div>
                        <div class="wrapper grid"> 
                            <div class="deals-grid-content grid-item">
                                <div class="row clearfix">
                                    {% for announcement in announcements %} 
                                        <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                            <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        {% if announcement.picture %}
                                                            <figure class="image">
                                                                <img src="{{announcement.picture.url}}" alt="{{announcement.title}}" style="width: 100%; height: 170px; object-fit: cover;">
                                                            </figure> 
                                                        {% endif %}
                                                        <div class="batch"><i class="icon-11"></i></div>
                                                        <span class="category">{% if announcement.type_of %} Kirayə {% else %} Satış {% endif %}</span>
                                                        
                                                    </div>
                                                    <div class="lower-content">
                                                        <div class="author-info clearfix">
                                                            <div class="author pull-left">
                                                                <a href="{% url 'see-user' %}?phone={{announcement.author.phone|slugify}}">
                                                                    <figure class="author-thumb">
                                                                        {% if announcement.author.avatar %}
                                                                            <img src="{{announcement.author.avatar.url}}" alt="{{announcement.author.name}}" style="aspect-ratio: 1;">
                                                                        {% else %}
                                                                            <img src="{% static 'images/empty-profile270x330.png' %}" alt="{{announcement.author.name}}" style="aspect-ratio: 1;">
                                                                        {% endif %}
                                                                    </figure>
                                                                </a>
                                                                <h6>
                                                                    <a href="{% url 'see-user' %}?phone={{announcement.author.phone|slugify}}">
                                                                        {{announcement.author.name}} {{announcement.author.surname}}
                                                                    </a> 
                                                                </h6>
                                                            </div> 
                                                        </div>
                                                        <div class="title-text"><h4><a href="{% url 'announcement-detail'%}?title={{ announcement.slug }}"  data-wenk="{{announcement.title}}">{{announcement.title|slice:"0:25"}}...</a></h4></div>
                                                        <div class="price-box clearfix">
                                                            <div class="price-info pull-left">
                                                                <h6>Qiymət</h6>
                                                                <h4>
                                                                    {% if announcement.currency == "DOLLAR" %}${% endif %} 
                                                                    {% if announcement.currency == "MANAT" %}₼{% endif %}
                                                                    {{ announcement.price|cast2int }}
                                                                
                                                                </h4>
                                                            </div>
                                                            <ul class="other-option pull-right clearfix"> 
                                                                <li><a href="javascript:void(0)"><i class="icon-13"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>{{announcement.description|slice:"0:25"}}...</p>
                                                        <ul class="more-details clearfix"> 
                                                            <li><i class="icon-16"></i>{{announcement.area}} m<sup>2</sup></li>
                                                            <li><i class="icon-14"></i>{{announcement.room_count}} otaq</li> 
                                                        </ul>
                                                        <div class="btn-box"><a href="{% url 'announcement-detail'%}?title={{ announcement.slug }}" class="theme-btn btn-two">Ətraflı bax</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>
                        {% if total_page > 1 %}
                        
                            <div class="pagination-wrapper"> 
                                <ul class="pagination clearfix" style="display: flex; justify-content: flex-start; align-items: center;">
                                    {% for page_num in page_numbers %}
                                        <li>
                                            <a href="{{request.get_full_path|exclude_page_param}}page={{page_num}}" class="{% if page_num == aktiv_page %}current{% endif %}">
                                                {{page_num}}
                                            </a>
                                        </li>
                                    {% endfor %}  
                                </ul>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% else %}

    {% include 'partials/empty-data.html' %}

{% endif %}
