{% load static %}
<section class="cta-section bg-color-2">
    <div class="pattern-layer" style="background-image: url({% static 'images/shape/shape-2.png' %});"></div>
    <div class="auto-container">
        <div class="inner-box clearfix">
            <div class="text pull-left">
                <h2>Saytda yeni elan yerləşdirərək<br> önə çıxın.</h2>
            </div>
            <div class="btn-box pull-right">
                <a href="{% url 'share-announcement' %}" class="theme-btn btn-three">Paylaş</a> 
            </div>
        </div>
    </div>
</section>