{% load static %}

<section class="cta-section bg-color-2">
    <div class="pattern-layer" style="background-image: url({% static 'images/shape/shape-2.png' %});"></div>
    <div class="auto-container">
        <div class="inner-box clearfix">
            <div class="text pull-left">
                <h2>Saytımızda Qeydiyyatdan Keç <br>Ən son elanlar sənə gəlsin.</h2>
            </div>
            <div class="btn-box pull-right">
                <a href="{% url 'sign-up-page' %}" class="theme-btn btn-three">Qeydiyyat</a> 
            </div>
        </div>
    </div>
</section>