{% load static %}

<section class="subscribe-section bg-color-2">
    <div class="pattern-layer" style="background-image: url({% static 'images/shape/shape-2.png' %});"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                <div class="text">
                    <span>Agent ol</span>
                    <h2>Elan paylaşmaq üçün agent ola bilərsiniz.</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-column">
                <div class="form-inner">
                    <div class="auto-container">
                        <div class="inner-box clearfix"> 
                            <div class="btn-box pull-right">
                                <a href="javascript:void(0)" class="theme-btn btn-one">Müraciət et</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>