{% extends 'layout.html' %}
{% load static %}
{% load customfilters %}

{% block title %}
    Daşınmaz.az | {{announcement.title}}
{% endblock title %}

{% block container %}
    {% if announcement %} 
        <section class="property-details property-details-one">
            <div class="auto-container">
                <div class="top-details clearfix">
                    <div class="left-column pull-left clearfix">
                        <h3>{{announcement.title}}</h3>
                        <div class="author-info clearfix">
                            <div class="author-box pull-left">
                                {% if announcement.author.parent_agent %}
                                    <figure class="author-thumb">
                                        {% if announcement.author.parent_agent.avatar %}
                                            <img src="{{announcement.author.parent_agent.avatar.url}}" alt="{{announcement.author.parent_agent.name}} {{announcement.author.parent_agent.surname}}" style="aspect-ratio: 1;">
                                        {% endif %}
                                    </figure>
                                    <h6>
                                        <a href="{% url 'see-user' %}?phone={{announcement.author.parent_agent.phone|slugify}}">
                                            {{announcement.author.parent_agent.name}} {{announcement.author.parent_agent.surname}}
                                        </a> 
                                    </h6>
                                {% else %}
                                    <figure class="author-thumb">
                                        {% if announcement.author.avatar %}
                                            <img src="{{announcement.author.avatar.url}}" alt="{{announcement.author.name}} {{announcement.author.surname}}" style="aspect-ratio: 1;">
                                        {% endif %}
                                    </figure>
                                    <h6>
                                        {{announcement.author.name}} {{announcement.author.surname}}
                                    </h6>
                                {% endif %}
                            </div>
                            <!-- <ul class="rating clearfix pull-left">
                                <li><i class="icon-39"></i></li>
                                <li><i class="icon-39"></i></li>
                                <li><i class="icon-39"></i></li>
                                <li><i class="icon-39"></i></li>
                                <li><i class="icon-40"></i></li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="right-column pull-right clearfix">
                        <div class="price-inner clearfix">
                            <ul class="category clearfix pull-left"> 
                                <li><a href="javascript:void(0)">{{announcement.category.name}}</a></li>
                            </ul>
                            <div class="price-box pull-right">
                                <h3>
                                    {% if announcement.currency == "DOLLAR" %}${% endif %} 
                                    {% if announcement.currency == "MANAT" %}₼{% endif %}
                                    {{announcement.price|cast2int}}
                                </h3>
                            </div>
                        </div>
                        <ul class="other-option pull-right clearfix">
                            <!-- <li><a href="property-details.html"><i class="icon-37"></i></a></li>
                            <li><a href="property-details.html"><i class="icon-38"></i></a></li>
                            <li><a href="property-details.html"><i class="icon-12"></i></a></li> -->
                            <li><a href="javascript:void(0)"><i class="icon-13"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="property-details-content">
                            <div class="carousel-inner">
                                <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                                    <figure class="image-box">
                                        <img src="{{announcement.picture.url}}" alt="" style="object-fit: cover; ">
                                    </figure> 
                                    {% for pic in announcement_pics %}
                                        <figure class="image-box">
                                            <img src="{{pic.img.url}}" alt="" style="object-fit: cover; ">
                                        </figure> 
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="discription-box content-widget">
                                <div class="title-box">
                                    <h4>Elan açıqlaması</h4>
                                </div>
                                <div class="text">
                                    {{announcement.description}}
                                </div>
                            </div>
                            
                            <div class="amenities-box content-widget">
                                <div class="title-box">
                                    <h4>Elan özəllikləri</h4>
                                </div>
                                <ul class="list clearfix">
                                    {% if announcement.has_internet %} <li>İnternet var</li> {% endif %}
                                    {% if announcement.has_gas %} <li>Qaz çəkilib</li> {% endif %} 
                                    {% if announcement.has_water %} <li>Su çəkilib</li> {% endif %} 
                                    {% if announcement.has_water_tank %} <li>Əlavə su çəni var</li> {% endif %} 
                                    {% if announcement.has_electricity %} <li>Elektriklə təchiz olunub</li> {% endif %} 
                                    {% if announcement.furnished %} <li>Əşyalıdır</li> {% endif %} 
                                    {% if announcement.renovated %} <li>Təmirlidir</li> {% endif %} 
                                    {% if announcement.has_combi %} <li>Kombi var</li> {% endif %} 
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="property-sidebar default-sidebar">
                            <div class="author-widget sidebar-widget">
                                {% if announcement.author.parent_agent %}
                                    <div class="author-box">
                                        <figure class="author-thumb">
                                            <img src="assets/images/resource/author-1.jpg" alt="">
                                        </figure>
                                        <div class="inner">
                                            <h4>{{announcement.author.parent_agent.name}} {{announcement.author.parent_agent.surname}}</h4>
                                            <ul class="info clearfix">
                                                <li><i class="fas fa-map-marker-alt"></i>84 St. John Wood High Street, 
                                                St Johns Wood</li>
                                                <li><i class="fas fa-phone"></i><a href="tel:03030571965">030 3057 1965</a></li>
                                            </ul>
                                            <div class="btn-box">
                                                <a href="{% url 'see-user' %}?phone={{announcement.author.parent_agent.phone|slugify}}">
                                                    Hesaba bax
                                                </a> 
                                            </div>
                                        </div>
                                    </div> 
                                {% else %}
                                    <div class="author-box">
                                        <figure class="author-thumb">
                                            <img src="{{ announcement.author.avatar.url }}" alt="{{announcement.author.name}} {{announcement.author.surname}}" style="aspect-ratio: 1;">
                                        </figure>
                                        <div class="inner">
                                            <h4>{{announcement.author.name}} {{announcement.author.surname}}</h4>
                                            <ul class="info clearfix">
                                                <li><i class="fas fa-map-marker-alt"></i> {{announcement.author.location}} </li>
                                                <li><i class="fas fa-phone"></i><a href="tel:{{announcement.author.phone}}">{{announcement.author.phone}}</a></li>
                                            </ul>
                                            <div class="btn-box">
                                                <a href="{% url 'see-user' %}?phone={{announcement.author.phone|slugify}}">
                                                    Hesaba bax
                                                </a> 
                                            </div>
                                        </div>
                                    </div> 
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- 
                    <div class="similar-content">
                        <div class="title">
                            <h4>Bənzər elanlar</h4>
                        </div> 
                    </div> 
                -->
            </div>
        </section>
    {% endif %}
{% endblock container %}