{% extends 'layout.html' %}
{% load static %}
{% load customfilters %}


{% block title %}
    Daşınmaz.az | Elanlar
{% endblock title %}

{% block container %}

    <section class="property-page-section property-grid">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="default-sidebar property-sidebar"> 
                        <!-- Filters -->
                        <div class="category-widget sidebar-widget">
                            <div class="widget-title">
                                <h5>Status Of Property</h5>
                            </div>
                            <ul class="category-list clearfix">
                                <li><a href="property-details.html">For Rent <span>(200)</span></a></li>
                                <li><a href="property-details.html">For Sale <span>(700)</span></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-content-side">
                        <div class="item-shorting clearfix">
                            <div class="left-column pull-left">
                                <div class="short-box clearfix">
                                    <div class="select-box">
                                        <select class="wide" style="display: none;">
                                            <option>Seçin</option>
                                            <option value="1">Öncə Yenilər</option>
                                            <option value="2">Öncə Köhnələr</option> 
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="right-column pull-right clearfix">
                                
                                <div class="short-menu clearfix">
                                    <button class="list-view"><i class="icon-35"></i></button>
                                    <button class="grid-view on"><i class="icon-36"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper grid">
                            <div class="deals-list-content list-item">
                                {% for announcement in announcements %} 
                                    <div class="deals-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="{{announcement.picture.url}}" alt="{{announcement.title}}" style="width: 300px; height: 350px; object-fit: cover;"></figure>
                                                <div class="batch"><i class="icon-11"></i></div> 
                                            </div>
                                            <div class="lower-content">
                                                <div class="title-text"><h4><a href="property-details.html">{{announcement.title}}</a></h4></div>
                                                <div class="price-box clearfix">
                                                    <div class="price-info pull-left">
                                                        <h6>Qiymət</h6>
                                                        <h4>
                                                            {% if announcement.currency == "DOLLAR" %}${% endif %} 
                                                            {% if announcement.currency == "MANAT" %}₼{% endif %}
                                                            {{ announcement.price|cast2int }}
                                                        </h4>
                                                    </div>
                                                    <div class="author-box pull-right">
                                                        <figure class="author-thumb"> 
                                                            <img src="{% if announcement.author.avatar %}{{announcement.author.avatar.url}}{% else %} {% static 'images/empty-profile270x330.png' %} {% endif %}" alt="{{announcement.author.name}} {{announcement.author.surname}}" style="aspect-ratio: 1;">
                                                            <span>{{announcement.author.name}} {{announcement.author.surname}}</span>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <p>{{announcement.description|slice:"0:50"}}...</p>
                                                <ul class="more-details clearfix">
                                                    <li><i class="icon-14"></i>3 Beds</li>
                                                    <li><i class="icon-15"></i>2 Baths</li>
                                                    <li><i class="icon-16"></i>600 Sq Ft</li>
                                                </ul>
                                                <div class="other-info-box clearfix">
                                                    <div class="btn-box pull-left">
                                                        <a href="property-details.html" class="theme-btn btn-two">Ətraflı bax</a>
                                                    </div>
                                                    <ul class="other-option pull-right clearfix"> 
                                                        <li><a href="property-details.html"><i class="icon-13"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                {% endfor %}
                            </div>
                            <div class="deals-grid-content grid-item">
                                <div class="row clearfix">
                                    {% for announcement in announcements %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                            <div class="feature-block-one">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><img src="{{announcement.picture.url}}" alt="{{announcement.title}}" style="width: 370px; height: 250px; object-fit: cover;"></figure>
                                                        <div class="batch"><i class="icon-11"></i></div> 
                                                    </div>
                                                    <div class="lower-content">
                                                        <div class="author-info clearfix">
                                                            <div class="author pull-left">
                                                                <figure class="author-thumb"><img src="{% if announcement.author.avatar %}{{announcement.author.avatar.url}}{% else %} {% static 'images/empty-profile270x330.png' %} {% endif %}" alt="{{announcement.author.name}} {{announcement.author.surname}}" style="aspect-ratio: 1;"></figure>
                                                                <h6>{{announcement.author.name}} {{announcement.author.surname}}</h6>
                                                            </div> 
                                                        </div>
                                                        <div class="title-text"><h4><a href="property-details.html">{{announcement.title}}</a></h4></div>
                                                        <div class="price-box clearfix">
                                                            <div class="price-info pull-left">
                                                                <h6>Qiymət</h6>
                                                                <h4> 
                                                                    {% if announcement.currency == "DOLLAR" %}${% endif %} 
                                                                    {% if announcement.currency == "MANAT" %}₼{% endif %}
                                                                    {{ announcement.price|cast2int }}
                                                                </h4>
                                                            </div>
                                                            <ul class="other-option pull-right clearfix"> 
                                                                <li><a href="property-details.html"><i class="icon-13"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>{{announcement.description|slice:"0:50"}}...</p>
                                                        <ul class="more-details clearfix">
                                                            <li><i class="icon-14"></i>3 Beds</li>
                                                            <li><i class="icon-15"></i>2 Baths</li>
                                                            <li><i class="icon-16"></i>600 Sq Ft</li>
                                                        </ul>
                                                        <div class="btn-box">
                                                            <a href="property-details.html" class="theme-btn btn-two">Ətraflı bax</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrapper">
                            <ul class="pagination clearfix">
                                <li><a href="property-grid.html" class="current">1</a></li>
                                <li><a href="property-grid.html">2</a></li>
                                <li><a href="property-grid.html">3</a></li>
                                <li><a href="property-grid.html"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock container %}