{% extends 'layout.html' %}
{% load static %}

{% block title %} Ana səhifə  {% endblock title %}

{% block container %}  

    {% if request.user.is_authenticated %}  
            <!-- Share announcement --> 
            {% include 'partials/share-announcement-alert.html' %}  
    {% endif %}

    {% include 'partials/last-announcements.html' %} 

    {% if not request.user.is_authenticated %} 
        <!-- Signup Alert -->
        {% include 'partials/signup-alert.html' %} 
    {% endif %}
     
    <!-- Our services -->
    {% include 'partials/services.html' %} 
    {% if request.user.is_authenticated %}
        <!-- Up To Agent -->
        {% if not request.user.parent_agent %} 
            {% if not request.user.is_staff %}
                {% if not request.user.passport %}
                    {% include 'partials/up-to-agent.html' %}
                {% endif %}
            {% endif %} 
        {% endif %}
    {% endif %}

    <!-- Create Testimonial -->
    {% include 'partials/create-testimonial.html' %}
    
    <!-- Testimonials -->
    {% include 'partials/testimonials.html' %}

    <!-- Subscribe -->
    {% include 'partials/subscribe.html' %}

{% endblock container %}
