{% extends 'layout.html' %} 
{% load static %}

{% block title %} Daşınmaz.az | Xəbərlər {% endblock title %}

{% block container %}
<section class="news-section sec-pad">
    <div class="auto-container">
        <div class="sec-title centred">
            <h5>Xəbərlər</h5>
            <h2>Daşınmaz əmlak bazarında kı, yeniliklər.</h2>
        </div>
        <div class="row clearfix">
            {% if news %}
                {% for n in news %} 
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block mb-4">
                        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="{% url 'news-detail' n.slug %}"><img src="{{n.cover.url}}" alt="" style="aspect-ratio: 3/2; object-fit: cover;"></a></figure>
                                </div>
                                <div class="lower-content">
                                    <h4><a href="{% url 'news-detail' n.slug %}">{{n.title|slice:"0:20"}}...</a></h4>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <figure class="author-thumb"><img src="{{n.author.avatar.url}}" alt="" style="aspect-ratio:1; object-fit: cover;"></figure>
                                            <h5> {{n.author.name}} {{n.author.surname}} </h5>
                                        </li>
                                        <li>{{n.created_at|date:"d M, Y"}}</li>
                                    </ul>
                                    <div class="text">
                                        <p>{{n.description|slice:"0:70"|safe}}...</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="{% url 'news-detail' n.slug %}" class="theme-btn btn-two">Ətraflı bax</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            {% endif %}
        </div>
        {% if page_numbers %} 
            <div class="pagination-wrapper"> 
                <ul class="pagination clearfix">
                    {% for page_num in page_numbers %}
                        <li><a href="{% url 'all-news' %}?page={{page_num}}" class="{% if page_num == aktiv_page %}current{% endif %}">{{page_num}}</a></li>
                    {% endfor %}  
                </ul>
            </div>    
        {% endif %}  
    </div>
</section>
{% endblock container %}
