{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Daşınmaz.az | {{news_detail.title}}
{% endblock title %}

{% block container %}
    <section class="sidebar-page-container blog-details sec-pad-2">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    {% if news_detail %}
                        <div class="blog-details-content">
                            <div class="news-block-one">
                                <div class="inner-box">
                                    {% if news_detail.cover %}
                                        <div class="image-box">
                                            <figure class="image"><img src="{{news_detail.cover.url}}" alt="{{news_detail.author.name}} {{news_detail.author.surname}}" draggable="false"></figure> 
                                            <a class="category bg-success news-like" href="{% url 'like-news' news_detail.id %}"> 
                                                {% if liked_it %}
                                                    <i class="fa-solid fa-heart"></i> &nbsp;&nbsp; <span>{{likes_count}}</span>
                                                {% else %}
                                                    <i class="fa-regular fa-heart"></i> &nbsp;&nbsp; <span>{{likes_count}}</span>
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="lower-content"> 
                                        <div class="price-box clearfix"> 
                                            <ul class="other-option pull-right clearfix">
                                                <li><a class="text-success" id="share-news"><i class="icon-12"></i></a></li> 
                                            </ul>
                                        </div>
                                        <h3>{{news_detail.title}}</h3>
                                        <ul class="post-info clearfix"> 
                                            <li>
                                                {% language 'az' %}
                                                    {{news_detail.created_at|date:"d M, Y"}}
                                                {% endlanguage %}
                                            </li>
                                        </ul>
                                        <div class="text">
                                            {{news_detail.description|safe}}
                                        </div>
                                        <div class="post-tags">
                                            <ul class="tags-list clearfix">
                                                <li><h5>Teqlər:</h5></li>
                                                {% for tag in news_detail.tags.all %}
                                                    <li><a href="{% url 'all-news' %}?tag={{tag}}">{{tag}}</a></li>
                                                {% endfor %} 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            {% if comments  %} 
                                <div class="comments-area">
                                    <div class="group-title">
                                        <h4>Şərh sayı : {{comments_count}}</h4>
                                    </div>
                                    {% for comment in comments %}
                                    
                                        <div class="comment-box">
                                            <div class="comment"> 
                                                <div class="comment-inner">
                                                    <figure class="thumb-box">
                                                        {% if comment.author.avatar %}
                                                            <img src="{{comment.author.avatar.url}}" alt="{{comment.author.name}} {{comment.author.surname}}" style="aspect-ratio: 1; object-fit: cover;">
                                                        {% else %}
                                                            <img src="{% static 'images/empty-profile270x330.png' %}" alt="{{comment.author.name}} {{comment.author.surname}}" style="aspect-ratio: 1; object-fit: cover;">
                                                        {% endif %}
                                                    </figure>
                                                    <div class="comment-info clearfix mb-0">
                                                        <h5>{{comment.author.name}} {{comment.author.surname}}</h5>
                                                        <span>
                                                            {% language 'az' %}
                                                                {{comment.created_at|date:"d M, Y - h:i"}}
                                                            {% endlanguage %}
                                                        </span>
                                                    </div>
                                                    <div class="text">
                                                        <p>{{comment.comment}}</p> 
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>

                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <div class="comments-form-area">
                                    <div class="group-title">
                                        <h4>Şərh yazın</h4>
                                    </div>
                                    <form action="{% url 'add-comment' news_detail.id %}" method="post" class="comment-form default-form">
                                        {% csrf_token %}
                                        <div class="row">  
                                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                <textarea name="your_comment" placeholder="Şərhiniz"></textarea>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                                <button type="submit" class="theme-btn btn-one">Göndər</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div> 
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="blog-sidebar">
                        <div class="sidebar-widget search-widget">
                            <div class="widget-title">
                                <h4>Xəbərlərdə axtarış et</h4>
                            </div>
                            <div class="search-inner">
                                <form action="blog-1.html" method="post">
                                    <div class="form-group">
                                        <input type="search" name="search_field" placeholder="Nə axtarırsınız ?" required="">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                          
                        {% if tags %}
                            <div class="sidebar-widget tags-widget">
                                <div class="widget-title">
                                    <h4>Teqlər :</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="tags-list clearfix">
                                        {% for tag in tags %}
                                            <li><a href="{% url 'all-news' %}?tag={{tag.name}}">{{tag.name}}</a></li> 
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}


{% block scripts %}
    <script> 
        let news_like_btns = document.querySelectorAll(".news-like")
        news_like_btns.forEach(item=>{
            item.addEventListener("click", function(e){
                e.preventDefault()
                like_url = item.getAttribute("href") 
                $.get(like_url, function(data, status){
                    if (!data.error){ 
                        if (data.deleted == true){
                            item.innerHTML = `<i class="fa-regular fa-heart"></i> &nbsp;&nbsp; <span>${data.count}</span>`
                        } else if (data.liked == true){
                            item.innerHTML = `<i class="fa-solid fa-heart"></i> &nbsp;&nbsp; <span>${data.count}</span>`
                        }
                    } 
                    if (data.error){
                        window.location.href = data.href
                    }
                }) 
            })
        })


        let share_news_btn = document.getElementById("share-news")
        share_news_btn.addEventListener("click", async () => {
            try {
                await navigator.share({
                    title: "Xəbəri paylaş",
                    text: "Saytımızdakı xəbərləri yaxınlarınızla paylaşın",
                    url: "{{share_url}}",
                }); 
            } catch (err) { 
                swal("Məlumat!", "Xəbər paylaşılmadı.", "info") 
            }
        });
    </script>
{% endblock scripts %}