{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Dasinmaz.az | Yeni elan paylaş
{% endblock title %}

{% block container %}
    <section class="auto-container py-4">
        <div class="sec-title"> 
            <h2>Yeni elan paylaş</h2>
        </div>
        <form action="" method="POST" enctype="multipart/form-data" class="default-form col-lg-6">
            {% csrf_token %}
            <div class="form-group">
                <label for="announcement_picture">Əsas şəkil</label> <br>
                <input type="file" name="announcement_picture" id="announcement_picture" accept="image/*">
            </div> 
            <div class="form-group">
                <label for="announcement_title">Başlıq</label>
                <input type="text" name="announcement_title"  placeholder="Başlıq"  autocomplete="off" id="announcement_title" value="{% if announcement_title %}{{announcement_title}}{% endif %}">
            </div> 
            <div class="form-group">
                <label for="announcement_location">Ünvan</label>
                <input type="text" name="announcement_location"  placeholder="Ünvan"  autocomplete="off" id="announcement_location" value="{% if announcement_location %}{{announcement_location}}{% endif %}">
            </div> 
            <div class="form-group">
                <label for="announcement_room_count">Otaq sayı</label>
                <input type="number" name="announcement_room_count"  placeholder="Otaq sayı"  autocomplete="off" id="announcement_room_count" value="{% if announcement_room_count %}{{announcement_room_count}}{% endif %}">
            </div> 
            <div class="form-group">
                <label for="announcement_currency">Valyuta</label>
                <select name="announcement_currency" id="announcement_currency">
                    <option >Seçin</option>
                    {% for ch in ch_tuple %} 
                        <option value="{{ch.key}}" {% if announcement_currency == ch.key %} selected {% endif %}>{{ch.key}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="announcement_category">Kateqoriya</label>
                <select name="announcement_category" id="announcement_category">
                    <option>Seçin</option>
                    {% for category in categories %}
                        <option value="{{category.id}}"> {{category.name}} </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="announcement_price">Qiymət</label>
                <input type="number" name="announcement_price" placeholder="Qiymət" autocomplete="off" min="0" step="0.1" id="announcement_price" value="{% if announcement_price %}{{announcement_price}}{% endif %}">
            </div>
            <div class="form-group">
                <label for="announcement_the_initial_payment">İlkin ödəniş</label>
                <input type="number" name="announcement_the_initial_payment" placeholder="İlkin ödəniş" autocomplete="off" min="0" step="0.1" id="announcement_the_initial_payment">
            </div> 
            <div class="form-group">
                <label for="announcement_area">Sahə</label>
                <input type="number" name="announcement_area"  placeholder="Sahə"  autocomplete="off" min="0" step="0.1" id="announcement_area">
            </div>
            <div class="form-group">
                <label for="announcement_description">Açıqlama</label>
                <textarea name="announcement_description" id="announcement_description"  placeholder="Açıqlama" ></textarea> 
            </div> 
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_internet" name="announcement_has_internet">
                <span></span>
                <label for="announcement_has_internet">İnternet var</label>
            </div> 
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_gas" name="announcement_has_gas">
                <span></span>
                <label for="announcement_has_gas">Qaz var</label>
            </div> 
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_electricity" name="announcement_has_electricity">
                <span></span>
                <label for="announcement_has_electricity">Elektriklə təchiz olunub</label>
            </div> 
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_water" name="announcement_has_water">
                <span></span>
                <label for="announcement_has_water">Su çəkilib</label>
            </div>
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_water_tank" name="announcement_has_water_tank">
                <span></span>
                <label for="announcement_has_water_tank">Əlavə su çəni var</label>
            </div>
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_has_combi" name="announcement_has_combi">
                <span></span>
                <label for="announcement_has_combi">Kombi var</label>
            </div>
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_furnished" name="announcement_furnished">
                <span></span>
                <label for="announcement_furnished">Əşyalıdır</label>
            </div> 
            <div class="custom-radio-box"> 
                <input type="checkbox" id="announcement_renovated" name="announcement_renovated">
                <span></span>
                <label for="announcement_renovated">Təmirlidir</label>
            </div> 
            <div class="form-group">
                <label for="announcement_pictures">Şəkil əlavə edin</label> <br>
                <input type="file" multiple name="announcement_pictures" id="announcement_pictures" accept="image/*">
            </div> 
            <div class="images-box"></div>
            <button class="theme-btn btn-one" type="submit">Paylaş</button>
        </form>
    </section>
{% endblock container %}


{% block scripts %} 
    <script>
        let announcement_pictures_input = document.getElementById("announcement_pictures")
        let images_box = document.querySelector(".images-box")
        images_box.innerHTML = ""

        announcement_pictures_input.addEventListener("change", async function(e){
            let images = announcement_pictures_input.files;
            
            for (let index = 0; index < images.length; index++) {
                const img_file = images[index];
                await addImage(img_file);
            }
    
        })

        async function addImage(img_file) {
            return new Promise((resolve, reject) => {
                var reader = new FileReader();

                reader.onload = function (event) { 
                    let img = document.createElement("img");
                    img.setAttribute("src", reader.result);
                    img.setAttribute("draggable", false)
                    let figure = document.createElement("figure");
                    figure.appendChild(img);
                    images_box.appendChild(figure);

                    resolve();
                };

                reader.readAsDataURL(img_file);
            });
        }
    </script>
{% endblock scripts %}
 