{% extends 'layout.html' %}

{% block title %}
    Dasinmaz.az | İstifadə qaydaları
{% endblock title %}

{% block container %}
    <div class="col-lg-12 col-md-12 col-sm-12 content-column p-4 auto-container">
        <div class="content_block_3">
            <div class="content-box">
                <div class="sec-title">
                    <h5>İstifadə qaydaları</h5>
                    <h2>Saytdan istifadə qaydaları</h2>
                </div>
                <div class="text">
                    {{usage_rules|safe}}    
                </div> 
            </div>
        </div>
    </div>
{% endblock container %}