{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Daşınmaz.az | {{user.name}} {{user.surname}}
{% endblock title %}
 
{% block container %}
    {% if user %}
        <section class="agent-details p-4">
            <div class="auto-container">
                <div class="agent-details-content">
                    <div class="agents-block-one">
                        <div class="inner-box mr-0">
                            <figure class="image-box">
                                {% if user.avatar %}
                                    <img src="{{user.avatar.url}}" alt="" style="width: 270px; height: 330px; aspect-ratio: 270/330; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'images/empty-profile270x330.png' %}" alt="">
                                {% endif %} 
                            </figure>
                            <div class="content-box">
                                <div class="upper clearfix">
                                    <div class="title-inner pull-left">
                                        <h4>
                                            {% if user.name and user.surname %} {{user.name}} {{user.surname}} {% else %} Ad, Soyad daxil edilməyib. {% endif %}
                                        </h4>
                                        <span class="designation">
                                            {% if user.position %} {{user.position}} {% else %} Vəzifə daxil edilməyib. {% endif %}
                                        </span>
                                    </div>
                                     
                                    <ul class="social-list pull-right clearfix">  
                                        {% if user.facebook %}
                                            <li class="mb-1"><a href="{{user.facebook}}" target="_blank"> <i class="fab fa-facebook-f"></i> </a></li>
                                        {% endif %}
                                        {% if user.twitter %}
                                            <li class="mb-1"><a href="{{user.twitter}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                                        {% endif %}
                                        {% if user.vimeo %}
                                            <li class="mb-1"><a href="{{user.vimeo}}" target="_blank"> <i class="fa-brands fa-vimeo-v"></i> </a></li>
                                        {% endif %}
                                        {% if user.tiktok %}
                                            <li class="mb-1"><a href="{{user.tiktok}}" target="_blank"> <i class="fa-brands fa-tiktok"></i> </a></li>
                                        {% endif %} 
                                        {% if user.youtube %}
                                            <li class="mb-1"><a href="{{user.youtube}}" target="_blank"> <i class="fa-brands fa-youtube"></i> </a></li>
                                        {% endif %}
                                        {% if user.pinterest %}
                                            <li class="mb-1"><a href="{{user.pinterest}}" target="_blank"> <i class="fa-brands fa-pinterest-p"></i> </a></li>
                                        {% endif %} 
                                        {% if user.instagram %}
                                            <li class="mb-1"><a href="{{user.instagram}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a></li>
                                        {% endif %} 
                                    </ul>
                                </div>
                                <div class="text">
                                    <p>{% if user.bio %}{{user.bio}}{% endif %}</p>
                                </div>
                                {% if user.is_staff %}
                                    <div class="custom-radio-box"> 
                                        <input type="checkbox" disabled  checked >
                                        <span style="border-radius: 0;"></span>
                                        <label>Agentlik təsdiq olunub</label>
                                    </div>
                                {% endif %}
                                <ul class="info clearfix mr-0"> 
                                    <li> <i class="fab fa fa-envelope"></i> {% if user.email %} <a href="mailto:{{user.email}}"> {{user.email}} </a> {% else %} E-poçt daxil edilməyib. {% endif %} </li>
                                    <li> <i class="fab fa fa-phone"></i> <a href="tel:{{user.phone}}"> {{user.phone}} </a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <section class="agents-page-section agent-details-page">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side"> 
                        {% if user.is_staff %}
                            {% if our_team %} 
                            <div class="faq-content-side">
                                <div class="sec-title"> 
                                    <h2>Agentlikdə olan istifadəçilər.</h2>
                                    <p>Yeni istifadəçi əlavə edə bilərsiniz. Lakin, silmək və ya redaktə etmək üçün texniki dəstəyə (və ya əlaqə formundan) bildirin.</p>
                                </div> 
                                <ul class="accordion-box">
                                    {% for team_member in our_team %} 
                                        <li class="accordion block  ">
                                            <div class="acc-btn  ">
                                                <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                                <h5>{{team_member.name}} {{team_member.surname}}</h5>
                                            </div>
                                            <div class="acc-content current" style="display: none;">
                                                <div class="content-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Telefon : {{team_member.phone}}</li>
                                                        <li>Ünvan : {{team_member.location}}</li>
                                                        <li>Qeydiyyat tarixi: {{team_member.created_at|date:"d M, Y"}}</li>
                                                        {% if team_member.last_login %}
                                                            {% language 'az' %}
                                                                <li>Son giriş tarixi: {{team_member.last_login|date:"d M, Y - H:i:s"}}</li>
                                                            {% endlanguage %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </li> 
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="default-sidebar agent-sidebar"> 
                            <div class="category-widget sidebar-widget">
                                <div class="widget-title">
                                    <h5>Sayt Aktivliyi</h5>
                                </div>
                                <ul class="category-list clearfix"> 
                                    <li>Qeydiyyat tarixi: <span> {% language 'az' %}{{ user.created_at|date:"F" }} {{user.created_at|date:"d, Y"}}{% endlanguage %} </span></li>
                                    <li>Son giriş tarixi: <span> {% language 'az' %}{{ user.last_login|date:"F" }} {{user.last_login|date:"d, Y | H:i:s"}}{% endlanguage %} </span></li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock container %}
 